*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sub-txt-color: #757786;
    --main-bg-color: #1b1e37;
    --box-bg-color: rgba(63, 67, 110, 0.45);
}

body {
    background: linear-gradient(45deg, var(--main-bg-color), #373952);
    color: white;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.logo {

    text-align: center;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

h4 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

label {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

input {
    font-size: 1.25rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
}

button {
    background-color: #756CDD;
    color: white;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.container {
    max-width:600px;
    margin: 0 auto;
    padding: 2rem 0;
}

.box {
    background-color: var(--box-bg-color);
    border-radius: 8px;
    padding: 2rem;
}

.row {
    margin-top: 2rem;
}

.logo {
    margin-bottom: 1rem;
}

.register-form {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.form-element {
    margin-bottom: 2rem;
}

.form-email {
    position: relative;
    left:25px;
}

.form-password {
    margin-bottom: 2rem;
    position: relative;
    left:2px;
}

.notice {
    font-size: 11px;
}

.blue {
    color: #9696e8;
}