* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --sub-txt-color: #757786;
  --main-bg-color: #1b1e37;
  --box-bg-color: rgba(63, 67, 110, 0.45);
}

body {
  background: linear-gradient(45deg, var(--main-bg-color), #373952);
  color: white;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-spacing: 1rem 1rem;
}

th {
    font-size: 1.25rem;
    text-decoration: underline;
}

a {
    color: #756CDD;
}

.button {
    background-color: #756CDD;
    color: white;
    border: none;
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
    padding: 0.5rem 0;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
}

.box {
  background-color: var(--box-bg-color);
  border-radius: 8px;
  padding: 2rem;
}

